<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.jessealdridge.clipmon</string>
  <key>Program</key>
  <string>/Users/Jesse/Dropbox/clipmon/clipmon.py</string>
  <key>RunAtLoad</key>
  <true/>
  <key>StandardOutPath</key>
  <string>/Users/Jesse/clipmon.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/Jesse/clipmon.err</string>
</dict>
</plist>
